.campCard {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
  height: 17rem !important; 
}

.card-body {
  padding: 0;
  
  
}

textarea {
  max-width: 60%;
}

