<footer class="footer bg-dark py-3 mt-auto">
        <div class="container text-center">
            <span class="text-white "> &copy; CampGround <%= new Date().getFullYear()  %> &nbsp;  All rights Reserved</span>
        </div>
</footer>